body {
    font-family: Roboto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
    margin-right: 100px;
    height: 100vh;
}

/*header css*/

.header-container {
    background-color: #1f2937;
}

.first-header {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    padding-bottom:100px;
}

.logo, .links {
    flex: 1;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.main-title p {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
}

li {
    flex: 1;
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
}

.second-header {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    padding-bottom: 100px;
}

.main-title {
    flex: 1;
}

.image {
    flex: 1;
    /*display: flex;
    justify-content: center;*/
    text-align: center;
    color: white;
}

.sign-up {
    background-color: rgb(53, 77, 216);
    border: none;
    padding:10px;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}

/*Main context css*/

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.rect {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 5px solid rgb(53, 77, 216);
    margin: 0px auto 10px auto;
}

.main-container {
   display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.container-one, .container-two, .container-three, .container-four {
    width: 200px;
    height: auto;
    margin: 0px auto;
}

.text-main {
    text-align: center;
    color: rgb(151, 146, 146);
    font-size: 18px;
}

/*Third part of the page*/

.second-main-container {
    height: 35vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
}

.second-main-container p {
    font-size: 36px;
    font: light italic;
    color: #1f2937;
}

.thor {
    font-size: 26px;
    font-weight: bolder;
}








